
<div>
 <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo3.PNG" alt="img not found">
</div>

<br>
<br>
<br>

<h2>Welcome to Mood Buddy!</h2>
<h2>Please sign in, or sign up below:</h2>
<br>



<div style="text-align: center">
 <a style= "text-decoration:none;" routerLink="/signin" routerLinkActive="active" class="button">Sign In</a>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
 <a style= "text-decoration:none;" routerLink="/signup" routerLinkActive="active" class="button">Sign Up</a>
</div>
<br>


