<style>

    @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
  
   .sidebar-nav-fixed {
     width:20%;
   }
   
   .container {
      position: relative;
      text-align: center;
      color: #355c7d;
      font-family: 'Montserrat';
  }
  
  /* Centered text */
  .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -75%);
  }
  
  .centered2 {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  .centered3 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
   body {
   background-image: url(../../../Animal_Icons/backgroundtest.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
   }
   
  .alignleft {
      float: left;
  }
  .alignright {
      float: right;
  }
  
   h2{
     text-align: left;
     font-family: 'Montserrat';
     font-weight: 500;
     color: #fcdeb1;
   }
   .button{
     background-color: #f8b195;
     color: white;
     border: none;
     font-family: 'Montserrat';
     font-size: 14px;
     padding: 23px 48px;
     font: times;
     border-radius: 4px;
   }
   .button:hover {
     color: #355c7d;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
   }
   #input-fields{
  text-align: center;
  background-color: rgb(53,92,125,0.2);
  margin-left:5%;
}
</style>
  
  <div>
   <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo3.PNG" alt="img not found">
  </div>
  
  <div class="container">
      <img src="../../../Animal_Icons/chatbox.png" alt="Snow" height="150" width="375">
      <div class="centered2">Good Afternoon, Professor Gustavo.</div>
      <div class="centered3">Welcome to your mood log page!</div>
  </div>
  <div>
      <img class="centered" height="150" width="150" style="margin-left: 250;" src="../../../Animal_Icons/RedKoala.png" alt="img not found">
  </div>
  
  <div id="input-fields">
    <br><br>
    <!--MOOD-->
    <div>
      Choose Your Mood: 
        <select id="mood" required>
          <option value="anxious">Anxious</option>
          <option value="appreciated">Appreciated</option>
          <option value="excited">Excited</option>
          <option value="frustrated">Frustrated</option>
          <option value="happy">Happy</option>
          <option value="okay">Okay</option>
          <option value="mad">Mad</option>
          <option value="sad">Sad</option>
          <option value="tired">Tired</option>
        </select>
    </div>
    <br>
    <!--MOOD SCALE-->
    <div>
        Rate Your Mood Intensity: 
          <select id="rate" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
    </div>
    <br>
    <!--ACTIVITIES-->
    <div>
      What activity did you most recently participate in?
      <form id="activity">
        <input type="radio" name="activity" value="work"> work &nbsp&nbsp&nbsp
        <input type="radio" name="activity" value="school"> school &nbsp&nbsp&nbsp
        <input type="radio" name="activity" value="social activity"> work <br>
        <input type="radio" name="activity" value="exercise"> exercise &nbsp&nbsp&nbsp
        <input type="radio" name="activity" value="eating"> eating &nbsp&nbsp&nbsp
        <input type="radio" name="activity" value="other" checked> other &nbsp&nbsp&nbsp
      </form>
    </div>
    <!--JOURNAL-->
    <div>
      Journal Any Additional Thoughts Here:
      <div class="form-group">
          <textarea id="notes-section" rows="5" cols="75" autofocus ></textarea>
      </div>
    </div>
      
  </div>
  
  <div style="text-align: center">
   <button class = "button" id="log" onClick = "onLog()">Log Mood</button>
  </div>
  <br></br>
 
