
<div>
  <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo2.PNG" alt="img not found">
</div>
  <h1>Welcome back! Please sign in</h1>
<div div style="text-align: center">
  <div class="form-group">
    <input type="text" class="form-control" id="userEmail" name="loginId" placeholder="Email address" required>
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="userPassword" name="password" placeholder="Password" required>
  </div>
  <br><br>
  <div class="row">
    <button id="submit" class="button" (click)="onSubmit()">Submit</button>
</div>
</div>