

<div>
    <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo3.png" alt="img not found">
</div>

<div style="text-align: center">
    <img id="myBuddy" height="150" width="150" style="margin-left: 470px; margin-bottom: -250px" src="../../../Animal_Icons/blank.png" alt="img not found">
  </div>
  <div class="container">
      <img src="../../../Animal_Icons/chatbox.png" alt="Snow" height="150" width="375">
      <div class="centered2">Hi There!</div>
      <div class="centered4">{{ name }}</div>
      <div class="centered3">You can find your journal here!</div>
  </div>

  
    <h1> </h1>
    <br>
    <div style="text-align:center" >
    <div id="notes-list" >
        <div class="card bg-basic text-black" >
            <div *ngFor="let log of logs; let i = index" >
                <div class="card-body"style="background-color: white; min-width: 400px; max-width: 600px; display: inline-block; margin-bottom: 1cm">
                    <h1>{{ log.date }}</h1>
                    
                    <div style="clear: both; margin-bottom: -1cm ">
                        <h3 style="float: left;width: 80%; margin-bottom: -70px">Mood:</h3>
                        <h4 style="float: right; width: 80%;" > {{ log.mood }} </h4>
                    </div>
                        
                    <div style="clear: both; margin-top: -1cm; margin-bottom: -1cm ">
                        <h3 style="float: left;width: 80%; margin-bottom: -70px">Intensity:</h3>
                        <h4 style="float: right; width: 80%;" > {{ log.rate }}</h4>
                    </div>

                    <div style="clear: both; margin-top: -1cm;">
                        <h3 style="float: left;width: 80%; margin-bottom: -70px">Activity:</h3> 
                        <h4 style="float: right; width: 80%;" > {{ log.activity }}</h4>
                    </div>
                    <div>
                    <h3 style="margin-top: 2cm">Journal:</h3>
                    <div style="max-width: 350px; display: inline-block; margin-top: -1cm">
                    <h5>{{ log.journal }}</h5>
                    </div>
                    <div>
                </div>
                    
                </div>
            </div>
        </div>
        
        <a style= "text-decoration:none;" routerLink="{{ link }}" routerLinkActive="active" class="button">Dashboard</a>
    </div>

    <br><br>