

<div>
    <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo3.png" alt="img not found">
</div>



  
    <h1>Previous logs</h1>
    <br>
    <div style="text-align:center" >
    <div id="notes-list">
        <div class="card bg-basic text-black">
            <div *ngFor="let log of logs; let i = index">
                <div class="card-header"> <h4>{{ log.date }}</h4></div>
                    <div class="card-body">
                        <h4>Mood: {{ log.mood }} </h4>
                        
                        <h4>Intensity: {{ log.rate }}</h4>
                        
                        <h4>Activity: {{ log.activity }}</h4>
                        
                        <h4>Journal: {{ log.journal }}</h4>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
        <a style= "text-decoration:none;" routerLink="{{ link }}" routerLinkActive="active" class="button">Dashboard</a>
    </div>

    <br><br>