.pleaseCenter{
    display:inline-block;
    text-align:center;
    width: 123px;
    background:blue;
    border-radius: 4px 4px 4px 4px;
    height:80 px;
    vertical-align:middle;

}
body {
    padding-bottom: 40px;
    padding-top: 60px;
}

.sidebar-nav-fixed {
	width:14%;
}