<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
 .sidebar-nav-fixed {
   width:20%;
 }
 
 body {
 background-image: url(/../../../Animal_Icons/backgroundtest.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-position: center;
 background-size: cover;
 }
 
 h2{
   text-align: center;
   font-family: 'Montserrat';
   font-weight: 500;
   color: #fcdeb1;
 }
 .button{
   background-color: #c06c84;
   color: white;
   border: none;
   font-family: 'Montserrat';
   font-size: 14px;
   padding: 23px 48px;
   font: times;
   border-radius: 4px;
 }
 .button:hover {
   background-color: #f8b195;
   color: #355c7d;
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }
</style>

<div>
 <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/backgroundtest.jpg" alt="img not found">
</div>
<br></br>
<br></br>
<br></br>
<h2>Welcome to Mood Buddy!</h2>
<h2>Please sign in, or sign up below:</h2>
<br></br>
<br></br>
<br></br>
<div style="text-align: center">
 <button class = "button" id="sign_in" onClick = "onSignIn()">Sign In</button>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 <button class = "button" id="sign_up" onClick = "onSignUp()">Sign Up</button>
</div>
<br></br>