

<div>
 <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo3.PNG" alt="img not found">
</div>
<!---
<div style="margin-left: 150;">
<h2 style="margin-left: 150;">Hello {NAME}, it's good to see you again!</h2>
</div>
-->

<!--Chatbox with words-->
<div class="container">
        <img src="../../../Animal_Icons/chatbox.png" alt="Snow" height="150" width="375">
        <div class="centered2" id = "greeting"></div>
        <div class="centered4">{{ name }}</div>
        <!--^^^NAME^^^-->
        <div class="centered3" id = "week"></div>
</div>


<div>
    <img id="myBuddy" class="centered" height="150" width="150" style="margin-left: 250;" src="../../../Animal_Icons/RedKoala.png" alt="img not found">
</div>
        <!--^^^PULL ANIMAL^^^-->
<br>
<br>
<br>
<br>
<div style="text-align: center">
    <br>
    <a style= "text-decoration:none;" routerLink="/mood-log" routerLinkActive="active" class="button">Mood Log</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a style= "text-decoration:none;" routerLink="/journal" routerLinkActive="active" class="button">&nbsp;&nbsp;Journal&nbsp;&nbsp;</a>
    <br>
    <br>
</div>
<p class = "buffer"></p>
<div style="text-align: center">
    <div style="display: inline-block;" #chart></div>
</div>
<form method="POST">
<div style="text-align: center">
 <button class="button" type="submit" id="sign_out" value="sign_out">Sign Out</button>
</div> <!--^^^SIGN OUT BUTTON^^^-->

