

<div>
    <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo2.PNG" alt="img not found">
</div>



  
    <h1>Previous logs</h1>
    <br>
    <div style="text-align:center" >
    <div id="notes-list">
        <div class="card">
            <div *ngFor="let log of logs; let i = index">
                <div class="card-header"> {{ date }}</div>
                    <div class="card-body">
                        Mood: {{ log.mood }}
                        Intensity: {{ log.intensity }}
                        Activity: {{ log.activity }}
                        Journal: {{ log.journal }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br><br>