

<div>
    <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo2.PNG" alt="img not found">
</div>



  
    <h1>Journal your mood here!</h1>
    <br>
    <div style="text-align:center" >
    <div class="form-group">
        <textarea id="notes-section" rows="20" cols="75" autofocus ></textarea>
    </div>
    <br><br>

    <div class="row">
            <a style= "text-decoration:none;" routerLink="/dashboard" routerLinkActive="active" class="button">Submit</a>
      </div>
  
