<style>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
 
 .sidebar-nav-fixed {
      width:20%;
 }
    
 body {
    background-image: url(../../../Animal_Icons/backgroundtest.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
 }
 
 h1{
     text-align: center;
     font-family: 'Montserrat';
     font-weight: 500;
     color: #fcdeb1;
 }
    
 h2{
     text-align: center;
     font-family: 'Montserrat';
     font-weight: 500;
     color: #fcdeb1;
 
 }
 
 .button{
     background-color: #f8b195;
     color: white;
     border: none;
     font-family: 'Montserrat';
     font-size: 14px;
     padding: 23px 48px;
     font: times;
     border-radius: 4px;
 }
 
 .button:hover {
     background-color: #f8b195;
     color: #355c7d;
     box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }
 
 .form-control {
     background-color: white;
     color: black;
     border: 2px, solid, black;
     font-family: 'Montserrat';
     font-size: 14px;
     padding: 10px 20px;
     font: times;
     border-radius: 4px;
 
 }
</style>

<div>
    <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo2.PNG" alt="img not found">
</div>



  
    <h1>Journal your mood here!</h1>
    <br>
    <div style="text-align:center" >
    <div class="form-group">
        <textarea id="notes-section" rows="4" cols="50"></textarea>
    </div>

    <div class="row">
        <button class="button" (click)="onSubmit()">Submit</button>
      </div>
  
  

