
<div class = "overall">
<div>
 <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo3.PNG" alt="img not found">
</div>
<!---
<div style="margin-left: 150;">
<h2 style="margin-left: 150;">Hello {NAME}, it's good to see you again!</h2>
</div>
-->

<!--Chatbox with words-->
<div style="text-align: center">
    <img id="myBuddy" height="150" width="150" style="margin-left: 470px; margin-bottom: -250px" src="../../../Animal_Icons/blank.png" alt="img not found">
</div>
<div class="container">
        <img src="../../../Animal_Icons/chatbox.png" alt="Snow" height="150" width="375">
        <div class="centered2" id = "greeting"></div>
        <div class="centered4">{{ name }}</div>
        <!--^^^NAME^^^-->
        <div class="centered3" id = "week"></div>
</div>

<!--
<div style="text-align: center">
    <img id="myBuddy" height="150" width="150" style="margin-left: 500px; margin-bottom: -200px" src="../../../Animal_Icons/RedKoala.png" alt="img not found">
</div>-->
        <!--^^^PULL ANIMAL^^^-->
<br>
<br>
<br>
<br>
<div style="text-align: center">

    <br>
    <a style= "text-decoration:none;" routerLink="/mood-log" routerLinkActive="active" class="button">Mood Log</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a style= "text-decoration:none;" routerLink="/journal" routerLinkActive="active" class="button">&nbsp;&nbsp;Journal&nbsp;&nbsp;</a>
    <br>
    <br>
    <p class = "buffer"></p>
</div>

<div style="text-align: center">
    <img height="100" width="375" src="../../../Animal_Icons/Moods.png" alt="img not found">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img height="115" width="425" src="../../../Animal_Icons/Moods2.png" alt="img not found">
</div>
<!--<div style="text-align: center">
    <img height="100" width="375" src="../../../Animal_Icons/Moods.png" alt="img not found">
</div>
-->
<div style="text-align: center">
    <div style="display: inline-block;" #chart></div>
    &nbsp;&nbsp;
    <div style="display: inline-block;" #chart2></div>
</div>
<!--
<div style="text-align: center">
    <img height="115" width="425" src="../../../Animal_Icons/Moods2.png" alt="img not found">
</div>

<div style="text-align: center">
    <div style="display: inline-block;" #chart2></div>
</div>
--->
<p class = "buffer"></p>

<form method="POST">
<div style="text-align: center">
 <button class="button" type="submit" id="sign_out" value="sign_out">Sign Out</button>
</div> <!--^^^SIGN OUT BUTTON^^^-->
</form>
</div>