
<div>
 <img style="display: block; margin-left: auto; margin-right: auto" src="../../../Animal_Icons/Logo3.PNG" alt="img not found">
</div>

<br>
<br>
<br>

<h2>Welcome to Mood Buddy!</h2>
<h2>Please sign in, or sign up below:</h2>
<br>



<div style="text-align: center">
 <a style= "text-decoration:none;" href="../sign-in-page/sign-in-page.component.html" class="button">Sign In</a>
 &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
 <a style= "text-decoration:none;" href="../signup-page/signup-page.component.html" class="button">Sign Up</a>
</div>
<br>


